.postContainer {
  width: 80%;
  margin: 5px auto;
  height: 100vh;
  padding-top: 20px;
}

.postContainer h2 {
  font-weight: 300;
  text-align: center;
  font-size: 35px;
}

.postContainer input {
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
  padding: 12px 10px;
  box-sizing: border-box;
  font-weight: 300;
}

.postContainer button {
  background: #03a9f4;
  font-size: 15px;
  padding: 10px;
  color: white;
  margin-top: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.postContainer select {
  font-size: 20px;
  margin-top: 10px;
}
